extends ../layout/layout.pug
include ../../components/graph/graph.pug
include ../../components/booking/booking.pug
include ../../components/feature/feature.pug
include ../../components/comment/comment.pug
include ../../components/bullet-list/bullet-list.pug

block title 
  title room details
block content
  - const path = '/pages/room-details/room-details.json' 
  - const data = htmlWebpackPlugin.options.getData(path)
  - const feature = data.feature
  - const booking = data.booking
  - const comment = data.comment
  - const bulletList = data.bulletList
  - const cancellationText = data.cancellationText
  main.room-details-content
    .room-details-content__wrap

      section.room-details-foto
          img.room-details-foto__image-big(src=require('@pag/room-details/img/image.webp').default, alt='Номер люкс - спальня')
          img.room-details-foto__image-min(src=require('@pag/room-details/img/image2.webp').default, alt='Номер люкс - вторая комната')
          img.room-details-foto__image-min(src=require('@pag/room-details/img/Mask_Group.webp').default, alt='Номер люкс - гостиная')

      section.room-details-info 
        h1.visually-hidden подробная информация о люкс номере
        .room-details-info__feature-wrap
          h2.room-details-info__feature-header Сведения о номере

          .room-details-info__feature
            +feature(feature.comfort)

          .room-details-info__feature
            +feature(feature.convenience)

          .room-details-info__feature
            +feature(feature.cosiness)

        .room-details-info__graph
          +graph({
            label:'Впечатления от номера'
          })

        .room-details-info__booking-wrap
          +booking(booking)

        .room-details-info__bottom-wrap
          .room-details-info__comment-wrap
            .room-details-info__comment-header-wrap
              h2.room-details-info__comment-header Отзывы посетителей номера
              span.room-details-info__total-comments 2 отзыва

            .room-details-info__comment
              +comment(comment.muradSarafanov)

            .room-details-info__comment
              +comment(comment.patriciaSteklyshkova)

          .room-details-info__regulations-wrap
            .room-details-info__bullet-list
              +bullet-list(bulletList)
              
            .room-details-info__cancellation
              p.room-details-info__cancellation-header Отмена
              p.room-details-info__cancellation-text=cancellationText




