extends ../layout/layout.pug
include ../../components/diagram/diagram.pug
include ../../components/booking/booking.pug
include ../../components/feature/feature.pug
include ../../components/comment/comment.pug
include ../../components/bullet-list/bullet-list.pug

block title 
  title room details
block content

  - 
    const {
        feature,
        booking,
        comment,
        bulletList,
        cancellationText,
        diagram
        } = require('./room-details.json'); 
  
  main.room-details-content
    .room-details-content__wrapper

      section.room-details-photo
          img.room-details-photo__image-big(src=require('./img/small-room.webp'), alt='Номер люкс - спальня')
          img.room-details-photo__image-min(src=require('./img/room.webp'), alt='Номер люкс - вторая комната')
          img.room-details-photo__image-min(src=require('./img/mask-group.webp'), alt='Номер люкс - гостиная')

      section.room-details-information 
        h1.visually-hidden подробная информация о люкс номере
        .room-details-information__feature-wrapper
          h2.room-details-information__feature-header Сведения о номере

          .room-details-information__feature
            +feature(feature.comfort)

          .room-details-information__feature
            +feature(feature.convenience)

          .room-details-information__feature
            +feature(feature.cosiness)

        .room-details-information__graph
          +diagram(diagram)

        .room-details-information__booking-wrapper
          +booking(booking)

        .room-details-information__bottom-wrapper
          .room-details-information__comment-wrapper
            .room-details-information__comment-header-wrapper
              h2.room-details-information__comment-header Отзывы посетителей номера
              span.room-details-information__total-comments 2 отзыва

            .room-details-information__comment
              +comment(comment.muradSarafanov)

            .room-details-information__comment
              +comment(comment.patriciaSteklyshkova)

          .room-details-information__regulations-wrapper
            .room-details-information__bullet-list
              +bullet-list(bulletList)
              
            .room-details-information__cancellation
              h2.room-details-information__cancellation-header Отмена
              p.room-details-information__cancellation-text=cancellationText




