include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang='ru')
  head
    title= htmlWebpackPlugin.options.title
  body.page
    +header({})
    .page__wrap
      block content
    +footer({})