$color-header: $Dark-Shade-100;
$color-text: $Dark-Shade-75;
$color-backgroundLG: $Purple;
$color-numbers: $Dark-Shade-50;
$color-current: $color-white;
$color-button-focus: $Dark-Shade-100;
$color-button-background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$color-current-background: linear-gradient(180deg, $color-backgroundLG 0%, #8ba4f9 100%);
$color-page-numbers-background: linear-gradient(180deg, $color-backgroundLG 0%, #8ba4f9 100%);

.pagination {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__text {
    margin-top: 7px;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-text;
    text-align: center;
  }

  &__header {
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-header;
    margin-bottom: 16px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__next,
  &__current,
  &__prev {
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  &__prev-img {
    transform: rotate(180deg);
  }

  &__next,
  &__prev {
    background: $color-button-background;
  }

  &__next:focus,
  &__prev:focus {
    outline-offset: 4px;
    outline: 2px solid $color-button-focus;
  }

  &__page-numbers:focus {
    outline: 2px solid $color-button-focus;
  }

  &__current {
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $color-current;
    background: $color-current-background;
  }

  &__page-numbers:hover {
    border-radius: 50%;
    color: $color-current;
    background: $color-page-numbers-background;
  }

  &__page-numbers,
  &__dots {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $color-numbers;
  }
}
