mixin styleText(cl_name)
	- let class_name = 'styleText '+cl_name+'__styleText'
	div(class=class_name)
		h1.styleText__teg h1 
		h1.styleText__text This one is the sub-section or widget title
		h2.styleText__teg h2 
		h2.styleText__text Next one is the item title inside widgets
		h3.styleText__teg h3
		h3.styleText__text This is a label or CTA text
		span.styleText__teg Body  
		p.styleText__text 
			| This is the body text which is used for most<br>
			| of the design, like paragraphs, lists, etc.

