@import "@styles/glob.scss";

$color-radio-label: $Dark-Shade-50;
$color-radio: $Dark-Shade-25;
$color-radio-select: $Dark-Shade-75;
$color-radio-border: $Purple;

.radio-buttons {
	&__header {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-label;
		cursor: pointer;
		margin-bottom: 14px;
	}

	&__items {
		display: flex;
		flex-direction: row;
		border: 0px;
		margin: 0px;
		padding: 0px;
	}

	&__input {
		position: absolute;
		appearance: none;
	}

	&__label {
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		padding-left: 29px;
		margin-right: 23px;
		line-height: 18px;
		user-select: none;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: $color-radio-label;
	}

	&__bef {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		bottom: 2px;
		border: 1px solid $color-radio;
		border-radius: 50%;
		box-sizing: border-box;
		cursor: pointer;
	}

	&__bef::before {
		content: "";
		width: 26px;
		height: 25px;
		position: absolute;
		left: -4px;
		bottom: -3px;
		box-sizing: border-box;
	}

	&__input:checked + &__bef {
		border-color: $color-radio-border;
		background: linear-gradient(180deg, $color-radio-border 0%, #8ba4f9 100%);
		box-shadow: inset 0px 0px 0px 3.5px $color-background;
	}

	&__input:focus + &__bef {
		border: 1px solid $color-radio;
	}

	// &__input:disabled + &__bef {
	// 	border-color: $Dark-Shade-1;
	// }

	// &__input:checked:disabled + &__bef {
	// 	border-color: $Dark-Shade-1;
	// }

	// &__bef:hover {
	// 	border-color: $color-radio-border;
	// }

	// &__label:focus-within {
	// 	outline: solid 1px $color-radio-select;
	// 	outline-offset: 3px;
	// 	outline: 1;
	// }
}
