$color-radio-label: $Dark-Shade-50;
$color-radio: $Dark-Shade-25;
$color-radio-select: $Dark-Shade-75;
$color-radio-border: $Purple;

.radio-buttons {
	&__header {
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-label;
		cursor: pointer;
		margin-bottom: 14px;
	}

	&__label {
		font-family: "Montserrat-Regular";
		font-size: 14px;
		line-height: 24px;
		color: $color-radio-label;
	}

	&__items {
		display: flex;
		flex-direction: row;
	}

	&__input[type="radio"] {
		display: none;
	}

	&__item {
		position: relative;
	}

	&__label {
		display: inline-block;
		cursor: pointer;

		padding-left: 29px;
		margin-right: 23px;
		line-height: 18px;
		user-select: none;
	}

	&__bef {
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		bottom: 2px;
		border: 1px solid $color-radio;
		border-radius: 50%;
		box-sizing: border-box;
		background-position: center center !important;
		cursor: pointer;
		//outline: 0;
	}

	&__bef:after {
		content: "";
		position: absolute;
		top: 2.5px;
		left: 3px;
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #fff;
	}

	/* Checked */
	&__input[type="radio"]:checked + &__bef:after {
		background: linear-gradient(180deg, $color-radio-border 0%, #8ba4f9 100%);
	}

	&__input[type="radio"]:checked + &__bef {
		border: 1px solid $color-radio-border;
	}

	&__input[type="radio"]:checked + label {
		color: $color-radio-select;
	}

	&__bef:hover {
		border: 1px solid $color-radio-border;
	}

	&__bef:focus {
		outline: 1;
	}
}
