extends ../layout/layout.pug
include ../../components/sign-in/sign-in.pug

block title 
  title sign in
block content
  main.sign-in-content
    section.sign-in-form

      .sign-in-form__relation-ratio
      img(class='sign-in-form__background' src=require('./img/bedroom.webp'), alt='номер')
      
      .sign-in-form__wrapper
        .sign-in-form__sign-in-wrapper
          +sign-in({
            header:'Войти'
          })