extends ../layout/layout.pug
include ../../components/sign-in/sign-in.pug

block title 
  title sign in
block content
  main.sign-in-content
    -const bedroomXxs = require('./img/bedroom-xxs.webp')
    -const bedroomSm = require('./img/bedroom-sm.webp')
    -const bedroom = require('./img/bedroom.webp');

    section.sign-in-form
      .sign-in-form__wrapper
        .sign-in-form__sign-in-wrapper
          +sign-in({
            header:'Войти'
          })