$color-focus: $Dark-Shade-100;
$color-submit-background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color-link-background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color-text-hover: $Dark-Shade-50;
$color-link-border: inset 0px 2px 0px 0px #bc9cff, inset 0px 0px 0px 2px #8ba4f9;
$color-text: $Purple;
$color-link-border-hover: inset 0px 2px 0px 0px rgba(188, 156, 255, 0.5), inset 0px 0px 0px 2px rgba(139, 164, 249, 0.5);

.button {
  @include link;
  @include font-family("Montserrat");
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;

  &_type {
    &_submit {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        left: auto;
        bottom: 0;
        right: 14px;
        margin: auto;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &_variant {
    &_contained,
    &_outlined {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 14.5px 15px;
      width: 100%;
      border-radius: 22px;
      box-sizing: border-box;
      border: 0;
      cursor: pointer;
    }

    &_contained,
    &_text,
    &_outlined {
      &:focus {
        outline: 2px solid $color-focus;
        outline-offset: 5px;
      }
    }

    &_text {
      color: $color-text;
      background-color: $color-background;
      border: 0;
      cursor: pointer;
      padding: 0px;

      &:hover {
        color: $color-text-hover;
      }
    }

    &_contained {
      background: $color-link-background;
      &:hover {
        opacity: 0.5;
      }
    }

    &_outlined {
      color: $color-text;
      background-color: $color-background;
      position: relative;
      background-clip: padding-box;
      box-shadow: $color-link-border;

      &:hover,
      &:focus {
        box-shadow: $color-link-border-hover;
      }
    }
  }

  &_size {
    &_narrow {
      padding: 9.5px 15px;
      min-width: auto;
    }
  }
}
