$color-focus: $Dark-Shade-100;
$color-submit-background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color-link-background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color-text-hover: $Dark-Shade-50;
$color-link-border: inset 0px 2px 0px 0px #bc9cff, inset 0px 0px 0px 2px #8ba4f9;
$color-text: $Purple;
$color-link-border-hover: inset 0px 2px 0px 0px rgba(188, 156, 255, 0.5), inset 0px 0px 0px 2px rgba(139, 164, 249, 0.5);

.button {
  @include font-family("Montserrat");
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;

  &_link,
  &_link-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 99px;
    height: 44px;
    border-radius: 22px;
    box-sizing: border-box;
    border: 0px;
    cursor: pointer;
  }

  &_header {
    height: 34px;
    min-width: auto;
  }

  &_link:focus,
  &_submit:focus,
  &_text:focus,
  &_link-border:focus {
    outline: 2px solid $color-focus;
    outline-offset: 5px;
  }

  &_submit {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 320px;
    height: 44px;
    border-radius: 22px;
    box-sizing: border-box;
    background: $color-submit-background;
    border: 0;
    cursor: pointer;
  }

  &_submit:hover {
    opacity: 0.5;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 14px;
    margin: auto;
    overflow: auto;
  }

  &_text {
    color: $color-text;
    background-color: $color-background;
    border: 0;
    cursor: pointer;
    padding: 0px;
  }

  &_text:hover {
    color: $color-text-hover;
  }

  &_link {
    background: $color-link-background;
  }

  &_link:hover {
    opacity: 0.5;
  }

  &_link-border {
    color: $color-text;
    background-color: $color-background;
    position: relative;
    background-clip: padding-box;
    box-shadow: $color-link-border;
  }

  &_link-border:hover,
  &_link-border:focus {
    box-shadow: $color-link-border-hover;
  }
}
