.map-elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 133px;
}

.comment-wrap {
	grid-column: 2 / 4;
}

.colomn-left {
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	margin-left: 141px;
	margin-top: 62px;
	width: 100%;
	max-width: 400px;

	&__text-field {
		margin-bottom: 20px;
		max-width: 320px;
	}

	&__guest {
		margin-bottom: 30px;
		max-width: 320px;
	}

	&__rooms {
		margin-top: 100px;
		max-width: 266px;
	}

	&__date-dropdown {
		margin-top: 31px;
		max-width: 320px;
	}

	&__filter-date {
		margin-top: 60px;
		max-width: 320px;
	}

	&__subscrip-textfield {
		margin-top: 40px;
		max-width: 267px;
	}

	&__expCheckboxList {
		margin-top: 40px;
		max-width: 266px;
		margin-bottom: 33px;
	}
}

.colomn-center {
	margin-left: 126px;
	margin-top: 62px;
	width: 100%;
	max-width: 260px;

	&__expCheckboxList {
		max-width: 222px;
		margin-bottom: 40px;
	}

	&__radioButtons {
		margin-bottom: 36px;
	}

	&__toggleButtons {
		max-width: 264px;
		margin-bottom: 40px;
	}
}
