.map-elements {
	display: flex;
	flex-direction: row;
	height: 1500px;
}

.colomn-left {
	display: flex;
	flex-direction: column;
	margin-left: 141px;
	margin-top: 62px;
	width: 100%;
	max-width: 400px;

	&__textField {
		margin-bottom: 20px;
		max-width: 320px;
	}

	&__dropDownGuest {
		margin-bottom: 30px;
		max-width: 320px;
	}

	&__dateDropdown {
		margin-top: 31px;
		max-width: 320px;
	}

	&__filterDateDropdown {
		margin-top: 60px;
		max-width: 320px;
	}

	&__subscriptionTextField {
		margin-top: 40px;
		max-width: 267px;
	}
}
