mixin square-color(color,textTop,textBot)
  - let className = 'square-color'
  div(class=className)
    div(class=className+'__square' style='background:'+color)
    div.squareColor__text
      p(class=className+'__color')= textTop
      p(class=className+'__hexColor')= textBot
