mixin square-color(textTop,textBot,modify)
  - 
    const className = 'square-color'
    let classSquare = className+'__square'
    const modifySquare = modify ?? ''
    if(modifySquare){
    classSquare += ' '+classSquare+'_'+modifySquare}

  div(class=className)
    div(class=classSquare)
    
    div.squareColor__text
      p(class=className+'__color')= textTop
      p(class=className+'__hexColor')= textBot
