$color-like: $Dark-Shade-25;
$color-like-voted: $Purple;
$color-focus: $Dark-Shade-100;

.like-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__header {
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-label;
    cursor: pointer;
    margin-bottom: 16px;
  }

  &__like {
    padding-left: 4px;
    padding-right: 4px;
    min-width: 40px;
    height: 20px;
    border: 1px solid $color-like;
    box-sizing: border-box;
    background-color: $color-background;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:focus {
      outline-offset: 3px;
      outline: 2px solid $color-focus;
    }
  }

  &_voted &__like {
    border-color: $color-like-voted;
  }

  &__icon{
    width: 10px;
    height: 8px;
    background-image: url("~comp/like-button/img/like.svg");
    color: transparent;

    &_favorite{
      background-image: url("~comp/like-button/img/favorite.svg");
    }
  }

  &__value {
    @include font-family("Montserrat");
    font-weight: normal;
    margin-left: 5px;
    font-size: 10px;
    line-height: 12px;
    color: $color-like;
  }

  &_voted &__value {
    color: $color-like-voted;
  }
}
