$color-item: $Dark-Shade-75;

.diagram {
  &__header {
    @include header-level2;
    @include max-row(3);
    margin-bottom: 21px;
    overflow-wrap: break-word;

    @include media-breakpoint-down($sm) {
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 311px;

    @include media-breakpoint-down($sm) {
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-down($xs) {
      align-items: flex-start;
      padding-left: 17px;
    }
  }

  &__canvas {
    width: 100%;
    max-width: 120px;

    @include media-breakpoint-down($sm) {
      margin-bottom: 20px;
    }
  }

  &__colors {
    @include list;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    overflow-wrap: break-word;
  }

  &__colors-item {
    position: relative;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $color-item;
    margin-top: 6px;
  }

  &__colors-dot {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }
}
