extends ../layout/layout.pug
include ../../components/room-card/room-card.pug
include ../../components/pagination/pagination.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/drop-down/drop-down.pug
include ../../components/range-slider/range-slider.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/button/button.pug

block title 
  title search room
block content

  -
    const {
      dateDropdown,
      dropDown,
      checkboxList,
      button,
      } = require('./search-room.json'); 

  main.search-room-content
    .search-room-content__wrapper
      section.search-room-filter
      
        .search-room-filter__date-wrapper
          +date-dropdown(dateDropdown)

        .search-room-filter__guests-wrapper
          +drop-down(dropDown.guest)

        .search-room-filter__price-wrapper
          +range-slider('диапазон цены')
          p.search-room-filter__price-text Стоимость за сутки пребывания в номере

        .search-room-filter__regulations-wrapper
          +checkbox-list(checkboxList.houseRules)

        .search-room-filter__availability-wrapper
          +checkbox-list(checkboxList.availability)

        .search-room-filter__facilities-wrapper
          +drop-down(dropDown.rooms)

        .search-room-filter__additional-amenities-wrapper
          +checkbox-list(checkboxList.additionalAmenities)

      .search-room-content__button-wrapper
        +button(button)

      section.search-room-cards
        h1.search-room-cards__header Номера, которые мы для вас подобрали
        ul.search-room-cards__cards
          - for(let i=0; i<12; i++){
            li.search-room-cards__card
              +room-card({
                rateName:'room-'+i,
                number:'888',
                isLux:true,
                price:'9 990',
                reviews:'145'
              })
          -}

        .search-room-cards__pagination
          +pagination()