.search-room-content {
  width: 100%;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  &__wrapper {
    width: 100%;
    max-width: $max-wraper + $size-padding * 2;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 266px 1fr;
    grid-gap: 60px;

    box-sizing: border-box;
    padding-left: $size-padding;
    padding-right: $size-padding;

    @include media-breakpoint-down($md) {
      grid-template-columns: 1fr;
      grid-gap: 0px;
      position: relative;
    }
  }

  &__button-wrapper {
    display: none;
    margin: 50px auto 0px;
    @include media-breakpoint-down($md) {
      display: flex;
    }
  }
}

.search-room-filter {
  align-self: start;

  @include media-breakpoint-down($md) {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 400px;
    top: 100px;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    background: #fff;
    z-index: 6;
    box-sizing: border-box;
    padding: 22px;
  }

  @include media-breakpoint-down($xs) {
    max-width: none;
  }

  @include media-breakpoint-down($md) {
    display: none;
  }

  &__date-wrapper {
    margin-top: 30px;

    @include media-breakpoint-down($md) {
      max-width: 310px;
      margin: 30px auto 0px;
      > div {
        justify-content: center;
      }
    }
  }

  &__guests-wrapper {
    margin-top: 20px;
    @include media-breakpoint-down($md) {
      max-width: 310px;
      margin: 20px auto 0px;
    }
  }

  &__price-wrapper {
    margin-top: 30px;
  }

  &__price-text {
    margin-top: 5px;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__regulations-wrapper {
    margin-top: 31px;
  }

  &__availability-wrapper {
    margin-top: 13px;

    @include media-breakpoint-down($xs) {
      margin-top: 30px;
    }
  }

  &__facilities-wrapper {
    margin-top: 16px;
    @include media-breakpoint-down($md) {
      max-width: 310px;
      margin: 20px auto 0px;
    }

    @include media-breakpoint-down($xs) {
      margin: 30px auto 0px;
    }
  }

  &__additional-amenities-wrapper {
    margin-top: 29px;

    @include media-breakpoint-down($md) {
      max-width: 312px;
      margin: 30px auto 0px;
    }
  }
}

.search-room-cards {
  @include media-breakpoint-down($md) {
    margin-top: 40px;
  }

  &__header {
    margin-top: 30px;
    @include max-row(3);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 18px;
    grid-column-gap: 12px;
    margin-top: 20px;
  }

  &__pagination {
    width: 100%;
    max-width: 256px;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 71px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

.search-room-content__wrapper .search-room-filter {
  &_visible {
    display: block;
  }
}
