@import "@styles/glob.scss";

$font: "Montserrat", Helvetica, Arial, sans-serif;
$color-datepicker-border: $Dark-Shade-25;
$color-datepicker-shadow: $Dark-Shade-5;
$color-datepicker-nav: $Dark-Shade-100;
$color-datepicker-cell: $Dark-Shade-50;
$color-datepicker-hover: $Purple;
$color-datepicker-selected: $Purple;
$color-datepicker-range: $Dark-Shade-50;
$color-datepicker-month: $Dark-Shade-25;
$color-days-names: $Purple;

.date-dropdown {
  .date-dropdown__datepicker-wrap {
    .air-datepicker {
      border: 0;
      &--content {
        padding-left: 18px;
        padding-right: 18px;

        @include media-breakpoint-down($xs) {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
      &-nav {
        border: 0px;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 25px;
        min-height: unset;
      }

      &-cell.-selected-.-focus- {
        background: $Dark-Shade-1;
      }

      .air-datepicker-cell.-selected-.-current- {
        background: $Dark-Shade-1;
        width: 100%;
        border-radius: 4px;
      }

      &-nav--title {
        font-family: $font;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        color: $color-datepicker-nav;
      }

      &-nav--action {
        width: auto;
      }

      &-nav--action[data-action="prev"] {
        margin-left: 20px;
      }

      &-nav--action[data-action="next"] {
        margin-right: 22px;
      }

      &-nav--action:hover,
      &-nav--title:hover {
        background-color: $color-background;
      }

      &-body--day-name {
        font-family: $font;
        font-weight: bold;
        font-size: 12px;
        text-transform: inherit;
        line-height: 15px;
        color: $color-days-names;
      }

      &-body--cells,
      &-body--day-names {
        justify-content: center;
      }

      &-body--cells.-days- {
        grid-auto-rows: 40px;
        grid-auto-columns: 40px;

        @include media-breakpoint-down($xs) {
          grid-auto-rows: 35px;
          grid-auto-columns: 35px;
        }
      }

      &-body--day-names {
        margin: 0px;
      }

      &-cell.-day- {
        font-family: $font;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $color-datepicker-cell;
      }

      &-cell.-day-:hover {
        border-radius: 50%;
        background: linear-gradient(180deg, $color-datepicker-hover 0%, #8ba4f9 100%);
        color: #fff;
        font-family: $font;
        font-weight: bold;
      }
    }

    .air-datepicker-cell.-day-.-current- {
      border-radius: 50%;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      color: #fff;
      font-family: $font;
      font-weight: bold;
      width: 40px;

      @include media-breakpoint-down($xs) {
        width: 35px;
      }
    }

    .air-datepicker-cell.-day-.-range-from-::after {
      content: "";
      position: absolute;
      right: 0px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: linear-gradient(180deg, rgba(189, 158, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%) !important;
    }

    .air-datepicker-cell.-day-.-range-to-::before {
      content: "";
      position: absolute;
      left: 0px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      background: linear-gradient(180deg, rgba(189, 158, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%) !important;
    }

    .-range-to-,
    .-range-from- {
      border: 0px solid #000;
      background-color: unset;
      border-radius: 0px;
      width: 40px;
      @include media-breakpoint-down($xs) {
        width: 35px;
      }
    }

    .air-datepicker-cell.-month-.-focus-,
    .air-datepicker-cell.-year-.-focus- {
      color: $color-datepicker-selected;
    }

    .air-datepicker-cell.-month-.-selected-,
    .air-datepicker-cell.-year-.-selected- {
      color: $color-datepicker-selected;
    }

    .air-datepicker-cell.-day-.-selected- {
      position: relative;
      border-radius: 50%;
      background: linear-gradient(180deg, $color-datepicker-selected 0%, #8ba4f9 100%);
      color: #fff;
      font-family: $font;
      font-weight: bold;
    }

    .air-datepicker-cell.-day-.-in-range- {
      background: linear-gradient(180deg, rgba(189, 158, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      border-radius: 0px;
      color: $color-datepicker-range;
    }

    .-other-month- {
      color: $color-datepicker-month;
    }
  }
}
