include ../../components/logo-group/logo-group.pug
include ../../components/text-field/text-field.pug
include ../../components/drop-down/drop-down.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/subscription-textfield/subscription-textfield.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/feature/feature.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/star-rating/star-rating.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/comment/comment.pug

-
  const {
    textField,
    dropDown,
    dateDropdown,
    filterDate,
    subscrip,
    checkboxList,
    feature,
    radioButtons,
    toggleButton,
    rateButton,
    button,
    bulletList,
    comment,
  } = require('./form-elements.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title form elements

  body.elements-wrapper
    .elements-wrapper__logo
      +logo-group({})

    main.elements-content
      section.map-elements 

        .column-left 
          .column-left__text-field
            +text-field(textField.email)

          .column-left__text-field
            +text-field(textField.name)
          
          .column-left__guest
            +drop-down(dropDown.guest)

          .column-left__text-field
            +text-field(textField.date)

          .column-left__date-dropdown
            +date-dropdown(dateDropdown)

          .column-left__filter-date
            +date-dropdown(filterDate)

          .column-left__subscrip-textfield
            +subscription-textfield(subscrip)

          .column-left__rooms
            +drop-down(dropDown.rooms)
          
          .column-left__checkbox-list
            +checkbox-list(checkboxList.expandable)

          .column-left__feature
            +feature(feature.comfort)

          .column-left__feature
            +feature(feature.convenience)

        .map-elements__wrapper-right
          .map-elements__column
            .column-center 
              .column-center__checkbox-list
                +checkbox-list(checkboxList.buttons)

              .column-center__radio-buttons
                +radio-buttons(radioButtons)

              .column-center__toggle
                +toggle(toggleButton)

              .column-center__like-button
                +like-button({label:'like button'})

              .column-center__star-rating
                +star-rating(rateButton)

              .column-center__checkbox-listRich
                +checkbox-list(checkboxList.richCheckbox)

            .column-right
              .column-right__range-slider
                +range-slider({
                  label:'Range Slider'
                })
              span.column-right__logo buttons

              .column-right__link
                +button(button.link)

              .column-right__link-border
                +button(button.linkBorder)

              .column-right__button-text
                +button(button.text)

              .column-right__submit
                +button(button.submit)

              .column-right__pagination
                +pagination({
                  label:'pagination'
                })

              .column-right__bullet-list
                +bullet-list(bulletList)
                
          .column-bottom
            .column-bottom__comment
              +comment(comment)