include ../../components/logo-group/logo-group.pug
include ../../components/text-field/text-field.pug
include ../../components/drop-down/drop-down.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/subscrip-textfield/subscrip-textfield.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/feature/feature.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle-buttons/toggle-buttons.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/buttons/buttons.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/comment/comment.pug

- const path = require('path').resolve(
- 'src/pages/form-elements/','form-elements.json'
- )
- const data = JSON.parse(require('fs').readFileSync(path)); 

- const textField = data.textField
- const dropDown = data.dropDown
- const dateDropdown = data.dateDropdown
- const filterDate = data.filterDate
- const subscrip = data.subscrip
- const checkboxList = data.checkboxList
- const feature = data.feature
- const radioButtons = data.radioButtons
- const toggleButtons = data.toggleButtons
- const rateButton = data.rateButton
- const buttons = data.buttons
- const bulletList = data.bulletList
- const comment = data.comment

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title form elements

  body.elements-wrapper
    .elements-wrapper__logo
      +logo-group({})

    main.elements-content
      section.map-elements 

        .colomn-left 
          .colomn-left__text-field
            +text-field(textField.email)

          .colomn-left__text-field
            +text-field(textField.name)
          
          .colomn-left__guest
            +drop-down(dropDown.guest)

          .colomn-left__text-field
            +text-field(textField.date)

          .colomn-left__date-dropdown
            +date-dropdown(dateDropdown)

          .colomn-left__filter-date
            +date-dropdown(filterDate)

          .colomn-left__subscrip-textfield
            +subscrip-textfield(subscrip)

          .colomn-left__rooms
            +drop-down(dropDown.rooms)
          
          .colomn-left__checkbox-list
            +checkbox-list(checkboxList.expandable)

          .colomn-left__feature
            +feature(feature.comfort)

          .colomn-left__feature
            +feature(feature.convenience)

        .map-elements__wrap-right
          .map-elements__column
            .colomn-center 
              .colomn-center__checkbox-list
                +checkbox-list(checkboxList.buttons)

              .colomn-center__radio-buttons
                +radio-buttons(radioButtons)

              .colomn-center__toggle-buttons
                +toggle-buttons(toggleButtons)

              .colomn-center__like-button
                +like-button({label:'like button'})

              .colomn-center__rate-button
                +rate-button(rateButton)

              .colomn-center__checkbox-listRich
                +checkbox-list(checkboxList.richCheckbox)

            .colomn-right
              .colomn-right__range-slider
                +range-slider({
                  label:'Range Slider'
                })
              span.colomn-right__logo buttons

              .colomn-right__link
                +buttons(buttons.link)

              .colomn-right__link-border
                +buttons(buttons.linkBorder)

              .colomn-right__button-text
                +buttons(buttons.text)

              .colomn-right__submit
                +buttons(buttons.submit)

              .colomn-right__pagination
                +pagination({
                  label:'pagination'
                })

              .colomn-right__bullet-list
                +bullet-list(bulletList)
                
          .colomn-bottom
            .colomn-bottom__comment
              +comment(comment)