include ../../components/logo-group/logo-group.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/subscription-textfield/subscription-textfield.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/feature/feature.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/star-rating/star-rating.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/comment/comment.pug

-
  const {
    textField,
    dropDown,
    dateDropdown,
    filterDate,
    subscrip,
    checkboxList,
    feature,
    radioButtons,
    toggleButton,
    rateButton,
    button,
    bulletList,
    comment,
  } = require('./form-elements.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title form elements

  body.form-elements
    .form-elements__logo
      +logo-group()

    main.form-elements__content
      .form-elements__column-left 
        .form-elements__text-field
          +text-field(textField.email)

        .form-elements__text-field
          +text-field(textField.name)
        
        .form-elements__guest
          +dropdown(dropDown.guest)

        .form-elements__text-field
          +text-field(textField.date)

        .form-elements__date-dropdown
          +date-dropdown(dateDropdown)

        .form-elements__filter-date
          +date-dropdown(filterDate)

        .form-elements__subscrip-textfield
          +subscription-textfield(subscrip)

        .form-elements__rooms
          +dropdown(dropDown.rooms)
        
        .form-elements__checkbox-list
          +checkbox-list(checkboxList.expandable)

        .form-elements__feature
          +feature(feature.comfort)

        .form-elements__feature
          +feature(feature.convenience)

      .form-elements__column-right
        .form-elements__container
          .form-elements__container-center 
            .form-elements__checkbox-list-buttons
              +checkbox-list(checkboxList.buttons)

            .form-elements__radio-buttons
              +radio-buttons(radioButtons)

            .form-elements__toggle
              +toggle(toggleButton)

            .form-elements__like-button
              +like-button({label:'like button'})

            .form-elements__star-rating
              +star-rating(rateButton)

            .form-elements__checkbox-list-rich
              +checkbox-list(checkboxList.richCheckbox)

          .form-elements__container-right
            .form-elements__range-slider
              +range-slider({label:'Range Slider'})
            span.form-elements__title-buttons buttons

            .form-elements__link
              +button(button.link)

            .form-elements__link-border
              +button(button.linkBorder)

            .form-elements__button-text
              +button(button.text)

            .form-elements__submit
              +button(button.submit)

            .form-elements__pagination
              +pagination({label:'pagination'})

            .form-elements__bullet-list
              +bullet-list(bulletList)
              
        .form-elements__column-bottom
          .form-elements__comment
            +comment(comment)