extends ../layout/layout.pug
include ../../components/registration/registration.pug

block title 
  title registration
block content
  main.registration-content
    section.registration-form
      .registration-form__relation-ratio
      img(class='registration-form__background' src=require('@pag/registration/img/image_4.webp').default, alt='номер')
      .registration-form__wrapper
        .registration-form__registration-wrap
          +registration({
            header:'Регистрация аккаунта'
          })