extends ../layout/layout.pug
include ../../components/registration/registration.pug

block title 
  title registration
block content
  main.registration-content
    -const bedroomXxs = require('./img/bedroom-xxs.webp')
    -const bedroomSm = require('./img/bedroom-sm.webp')
    -const bedroom = require('./img/bedroom.webp');

    section.registration-form
      .registration-form__wrapper
        .registration-form__registration-wrapper
          +registration({
            header:'Регистрация аккаунта'
          })