.subscrip-textfield {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__label-text {
		margin-bottom: 5px;
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-label;
	}

	&__wrap {
		position: relative;
		width: 100%;
	}

	&__tip {
		width: 17px;
	}

	&__link {
		display: block;
		width: 17px;
		height: 18px;
		position: absolute;
		right: 14px;
		bottom: 13px;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform 0.5s;
	}

	&__link:focus {
		//border: 1px solid rgba(31, 32, 65, 0.5);
		outline: 1;
	}

	&__text,
	&__value {
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__value {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__input {
		width: 100%;

		height: 44px;
		padding-left: 15px;
		padding-right: 44px;
		outline: 0;
		cursor: pointer;

		border: 1px solid $color-border;
		border-radius: 4px;
		color: $color-input;
		font-family: "Montserrat-Regular";
		font-size: 14px;
		line-height: 24px;
		box-sizing: border-box;
	}

	input::placeholder {
		color: $style-text;
	}

	input:hover,
	input:focus {
		border: 1px solid $color-border-hover;
	}
}
