$color-checkbox: $Dark-Shade-50;
$color-checkbox-border: $Dark-Shade-25;
$color-checkbox-hover: $Purple;
$color-checkbox-rich: $Dark-Shade-75;

.checkbox-list {
	&__header {
		position: relative;
		width: 100%;
		margin-bottom: 17px;
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 13px;
		text-transform: uppercase;
		color: $color-label;
		cursor: pointer;
	}

	&__wrap {
		display: none;
	}

	&__items {
		border: 0px;
		padding: 0px;
		margin: 0px;
	}

	&__label {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		font-family: "Montserrat-Regular";
		font-size: 14px;
		line-height: 19px;
		color: $color-checkbox;
		cursor: pointer;
		padding-left: 29px;
		margin-bottom: 12px;
	}

	&__text {
		font-family: "Montserrat-Regular";
		font-size: 12px;
		line-height: 14px;
		margin-top: 5px;
		color: $color-checkbox;
	}

	&__input {
		display: none;
	}

	&__bef {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: $color-background;
		border: 1px solid $color-checkbox-border;
		box-sizing: border-box;
		border-radius: 4px;
		position: absolute;
		left: 0;
		top: -1px;
		cursor: pointer;
	}

	&__bef:focus {
		outline: 1;
	}

	&__input:checked + &__bef {
		display: block;
		background-image: url("/assets/img/inetrface/Vector.svg");
		background-size: 10px 10px;
		background-repeat: no-repeat;
		background-position: 4px 3px;
		border-color: $color-checkbox-hover;
	}

	&__tip {
		position: absolute;
		top: 2px;
		right: 14px;
		width: 13px;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform 0.5s;
	}

	// ---------------------------- modif

	&_visible &__wrap {
		display: block;
	}

	&_visible &__tip {
		transform: rotate(180deg);
	}

	// ---------------------------- modif Checkbox Buttons

	&_visibleBut &__wrap {
		display: block;
	}

	&_visibleBut &__header {
		cursor: default;
	}

	// ---------------------------- modif RICH

	&_rich &__label {
		font-family: "Montserrat-Bold";
		color: $color-checkbox-rich;
	}
}
