$color-name: $Dark-Shade-75;
$color-message: $Dark-Shade-75;
$color-focus: $Dark-Shade-100;

.comment {
  display: flex;
  flex-direction: row;

  &__avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9px;
  }

  &__author {
    margin: 0px;
  }

  &__avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    max-width: 44px;
  }

  &__like-wrapper {
    margin-top: 9px;
  }

  &__header-wrapper,
  &__message-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  &__header-wrapper {
    max-width: 320px;
  }

  &__name {
    @include link;
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: $color-name;
    overflow-wrap: break-word;

    &:focus {
      outline-offset: 4px;
      outline: 2px solid $color-focus;
    }
  }

  &__date,
  &__message {
    @include paragraph;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-message;
  }

  &__message {
    margin-top: 10px;
    overflow-wrap: break-word;
    max-width: 653px;

    @include media-breakpoint-down($lg) {
      max-width: 743px;
    }
  }
}
