include ../../components/logo-group/logo-group.pug

-
  const {
    menuData,
  } = require('./index.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title pages menu
  body.page
    .page__wrap
      .page__logo
        +logo-group({})
      main.home-content
      
        section.toxin-links
          nav.toxin-links__menu 
            ul.toxin-links__items(role='navigation')
              lh.toxin-links__header Меню страниц - TOXIN
              each link, title in menuData
                li.toxin-links__item
                  a(class='toxin-links__link' href='/'+link target='_blank' rel='noopener noreferrer')=title
