$color-header: $Dark-Shade-100;
$color-link: $Dark-Shade-50;
$color-link-focus: $Dark-Shade-100;

.page {
  &__logo {
    margin-left: 30px;
    margin-top: 30px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
}

.toxin-links {
  width: 100%;
  max-width: $max-wrapper;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;

  &__menu {
    margin-top: 80px;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $color-header;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 24px;
    line-height: 17px;
    color: $color-link;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__link:focus {
    outline-offset: 4px;
    outline: 2px solid $color-link-focus;
  }
}
