include ../../components/logo-group/logo-group.pug
include ../../components/colored-square/colored-square.pug
include ../../components/styled-text/styled-text.pug

-
  const {
    coloredSquare,
  } = require('./colors-type.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title colors type

  body.colors-type-wrapper
    .colors-type-wrapper__logo
      +logo-group({})

    main.colors-type-content
      section.map-information 

        .map-information__color 
          .map-information__colored-square
            +colored-square(...coloredSquare.darkShade100)

          .map-information__colored-square
            +colored-square(...coloredSquare.darkShade75)

          .map-information__colored-square
            +colored-square(...coloredSquare.darkShade50)

          .map-information__colored-square
            +colored-square(...coloredSquare.darkShade25)

          .map-information__colored-square
            +colored-square(...coloredSquare.darkShade5)

          .map-information__colored-square
            +colored-square(...coloredSquare.purple)

          .map-information__colored-square
            +colored-square(...coloredSquare.green)
            
        .map-information__text
          .map-information__styled-text
            +styled-text()