include ../../components/logo-group/logo-group.pug
include ../../components/square-color/square-color.pug
include ../../components/style-text/style-text.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title colors type

  body.colorstype-wrapper
    .colorstype-wrapper__logo
      +logo-group({})

    main.colorstype-content
      section.map-info 

        .map-info__color 
          .map-info__square-color
            +square-color(
            '#1F2041',
            'Dark Shade 100%',
            '#1F2041')

          .map-info__square-color
            +square-color(
            'rgba(31, 32, 65, 0.75)',
            'Dark Shade 75%',
            '#1F2041')

          .map-info__square-color
            +square-color(
            'rgba(31, 32, 65, 0.5)',
            'Dark Shade 50%',
            '#1F2041')

          .map-info__square-color
            +square-color(
            'rgba(31, 32, 65, 0.25)',
            'Dark Shade 25%',
            '#1F2041')

          .map-info__square-color
            +square-color(
            'rgba(31, 32, 65, 0.05)',
            'Dark Shade 5%',
            '#1F2041')

          .map-info__square-color
            +square-color(
            '#BC9CFF',
            'Purple',
            '#BC9CFF')

          .map-info__square-color
            +square-color(
            '#6FCF97',
            'Green',
            '#6FCF97')
            
        .map-info__text
          .map-info__style-text
            +style-text()