include ../../components/logo-group/logo-group.pug
include ../../components/colored-square/colored-square.pug
include ../../components/styled-text/styled-text.pug

-
  const {
    coloredSquare,
  } = require('./colors-type.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title colors type

  body.colors-type
    .colors-type__logo
      +logo-group()

    main.colors-type__content
      section.colors-type__content-wrapper 

        .colors-type__map-colors 
          .colors-type__colored-square
            +colored-square(coloredSquare.darkShade100)

          .colors-type__colored-square
            +colored-square(coloredSquare.darkShade75)

          .colors-type__colored-square
            +colored-square(coloredSquare.darkShade50)

          .colors-type__colored-square
            +colored-square(coloredSquare.darkShade25)

          .colors-type__colored-square
            +colored-square(coloredSquare.darkShade5)

          .colors-type__colored-square
            +colored-square(coloredSquare.purple)

          .colors-type__colored-square
            +colored-square(coloredSquare.green)
            
        .colors-type__text
          .colors-type__styled-text
            +styled-text()