include ../../components/logo-group/logo-group.pug
include ../../components/square-color/square-color.pug
include ../../components/style-text/style-text.pug

-
  const {
    squareColor,
  } = require('./colors-type.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title colors type

  body.colors-type-wrapper
    .colors-type-wrapper__logo
      +logo-group({})

    main.colors-type-content
      section.map-information 

        .map-information__color 
          .map-information__square-color
            +square-color(...squareColor.darkShade100)

          .map-information__square-color
            +square-color(...squareColor.darkShade75)

          .map-information__square-color
            +square-color(...squareColor.darkShade50)

          .map-information__square-color
            +square-color(...squareColor.darkShade25)

          .map-information__square-color
            +square-color(...squareColor.darkShade5)

          .map-information__square-color
            +square-color(...squareColor.purple)

          .map-information__square-color
            +square-color(...squareColor.green)
            
        .map-information__text
          .map-information__style-text
            +style-text()