include ../../components/logo-group/logo-group.pug
include ../../components/square-color/square-color.pug
include ../../components/style-text/style-text.pug

- const path = require('path').resolve(
- 'src/pages/colors-type/','colors-type.json'
- )
- const data = JSON.parse(require('fs').readFileSync(path)); 

- const squareColor = data.squareColor

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title colors type

  body.colorstype-wrapper
    .colorstype-wrapper__logo
      +logo-group({})

    main.colorstype-content
      section.map-info 

        .map-info__color 
          .map-info__square-color
            +square-color(...squareColor.darkShade100)

          .map-info__square-color
            +square-color(...squareColor.darkShade75)

          .map-info__square-color
            +square-color(...squareColor.darkShade50)

          .map-info__square-color
            +square-color(...squareColor.darkShade25)

          .map-info__square-color
            +square-color(...squareColor.darkShade5)

          .map-info__square-color
            +square-color(...squareColor.purple)

          .map-info__square-color
            +square-color(...squareColor.green)
            
        .map-info__text
          .map-info__style-text
            +style-text()