.colors-type {
  &__logo {
    margin-top: 30px;
    margin-left: 30px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-top: 59px;
    padding-bottom: 145px;
    box-sizing: border-box;
  }

  &__colored-square {
    margin-bottom: 20px;
    min-width: 236px;
  }

  &__text {
    width: 100%;
    max-width: 852px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
