$color-feature: $Dark-Shade-75;
$color-feature-border: $Dark-Shade-1;

.feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 291px;
	border-bottom: 1px solid $color-feature-border;
	padding-bottom: 20px;

	&__description {
		margin-left: 16px;
	}

	&__icon {
		width: 40px;
	}

	&__header {
		font-size: 14px;
		line-height: 24px;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: $color-feature;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: normal;
		color: $color-feature;
	}
}
