@import "./../../assets/styles/glob.scss";
$color-feature: $Dark-Shade-75;
$color-feature-border: $Dark-Shade-1;

.feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 280px;
	border-bottom: 1px solid $color-feature-border;
	padding-bottom: 19px;

	&__wrap-icon {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 48px;
	}

	&__description {
		margin-left: 10px;
	}

	&__header {
		font-size: 14px;
		line-height: 24px;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: $color-feature;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: normal;
		color: $color-feature;
	}
}
