$color-header: $Dark-Shade-100;
$color-link: $Dark-Shade-50;
$color-focus: $Dark-Shade-100;

.navigation {
  padding-right: 10px;
  box-sizing: border-box;

  &__title {
    margin-bottom: 22px;
    @include font-family("Montserrat");
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-header;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 19px;
    overflow-wrap: break-word;
  }

  &__item:last-child {
    margin-bottom: 0px;
  }

  &__link {
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color-link;
    @include max-row(3);
  }

  &__link:focus {
    outline: 2px solid $color-focus;
    outline-offset: 4px;
  }
}
