html {
  height: 100%;
  width: 100%;
  font-size: #{$font-size}px;
  @include font-family("Montserrat");
  font-weight: normal;
  min-width: $min-wrapper;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: $color-background;
  color: $color-body;
}

//-----------------------------------

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

//------------ стиль скроулинга браузера

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  // цвет полосы
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #a6a8b6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(166, 168, 182, 0.26);
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

//--------------------------------
