include ../components/head/head.pug
include ../components/logo-group/logo-group.pug
include ../components/text-field/text-field.pug
include ../components/drop-down/drop-down.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/subscrip-textfield/subscrip-textfield.pug
include ../components/checkbox-list/checkbox-list.pug
include ../components/feature/feature.pug
include ../components/radio-buttons/radio-buttons.pug
include ../components/toggle-buttons/toggle-buttons.pug
include ../components/like-button/like-button.pug



doctype html
html(lang='ru')
	body
		div.ui-wrapper
			+logo-group('ui-wrapper')
			main
				section.map-elements 
					.colomn-left 
						.colomn-left__text-field
							+text-field({
								label: 'text field',
								placeholder: 'Email',
								type: 'email',
								name: 'email'
							})
						.colomn-left__text-field
							+text-field({
								label: 'text field',
								type: 'text',
								name: 'Name'
							})
						
						.colomn-left__guest
							-
								let masWord = [
								['взрослые', 'дети', 'младенцы'], 
								['гость,гостя,гостей', 
								'гость,гостя,гостей', 
								'младенец,младенца,младенцев']]
							+drop-down({
								label:'dropdown',
								value: 'Сколько гостей',
								name:'Guest',
								masWord:masWord,
								button:true
							})
						.colomn-left__text-field
							+text-field({
								label: 'masked text field',
								placeholder: 'ДД.ММ.ГГГГ',
								type: 'text',
								name: 'Date',
								class: 'js-masked-date'
							})

						.colomn-left__date-dropdown
							+date-dropdown({
								label: 'date Drop down',
								placeholder:'ДД.ММ.ГГГГ',
								class: 'js-masked-date'
							})

						.colomn-left__filter-date
							+date-dropdown({
								label: 'filter date dropdown',
								placeholder:'19 авг - 23 авг',
								value: '19 авг - 23 авг',
								modif: 'filter',
								filter: true
							})


						.colomn-left__subscrip-textfield
							+subscrip-textfield({
								label:'subscription text field',
								value:'Email'
							})

						.colomn-left__rooms
							- 
								masWord = [
								['спальни', 'кровати', 'ванные комнаты'], 
								['спальня,спальни,спален', 
								'кровать,кровати,кроватей', 
								'ванная комната,ванные комнаты,ванных комнат'] ]
							+drop-down({
								label:'dropdown',
								value:'Сколько спален',
								name:'Rooms',
								masWord:masWord,
								modif:'sharp'
							})
						
						.colomn-left__checkbox-list
							- 
								masWord = [
								'Завтрак', 'Письменный стол', 
								'Стул для кормления','Кроватка','Телевизор',
								'Шампунь','Телевизор','Шампунь']
							+checkbox-list({
								masWord:masWord,
								legend:'expandable checkbox list',
							})
						.colomn-left__feature
							+feature({
								header:'Комфорт',
								src:'assets/img/icon/insert_emoticon.svg',
								text:'Шумопоглощающие стены'
							})
						.colomn-left__feature
							+feature({
								header:'Удобство',
								src:'assets/img/icon/location_city.svg',
								text:'Окно в каждой из спален'
							})

					.colomn-center 

						.colomn-center__checkbox-list
							- 
								masWord = [
								'Можно курить', 'Можно с питомцами', 
								'Можно пригласить гостей (до 10 человек)']
							+checkbox-list({
								masWord:masWord,
								legend:'Checkbox Buttons',
								click: true,
								modif:'visibleBut'
							})

						.colomn-center__radio-buttons
							+radio-buttons({
								label:'Radio Buttons',
							})

						.colomn-center__toggle-buttons
							+toggle-buttons({
								header:'Toggle',
								label:'Получать спецпредложения'
							})

						.colomn-center__like-button
							+like-button({label:'like button'})

						.colomn-center__checkbox-listRich
							- 
								masWord = [
								'Широкий коридор', 
								'Помощник для инвалидов']
								masText = [
								'Ширина коридоров в номере не менее 91 см.',
								'На 1 этаже вас встретит специалист  и проводит до номера.']
							+checkbox-list({
								masWord:masWord,
								masText:masText,
								legend:'rich Checkbox Buttons',
								click: true,
								modif:'visibleBut',
								class:'checkbox-list_rich'
							})
						
					.colomn-right
					.comment-wrap