doctype html
html(lang="ru")
	include ../components/head/head.pug
	body
		div(class="ui-wrapper")
			include ../components/logoGroup/logoGroup.pug
			+logoGroup("ui-wrapper")
			main
				section.map-elements 
					.colomn-left 
						include ../components/textField/textField.pug
						+textField("colomn-left",
						"text field",
						"Email",
						"email",
						"email","generalForm")
						+textField("colomn-left",
						"text field",
						"",
						"text",
						"Name","generalForm")
						include ../components/dropDown/dropDown.pug
						- let masElem = [['взрослые', 'дети', 'младенцы'], ['adults', 'children', 'babies'] ]
						+dropDown("colomn-left",
						"dropDown",
						"dropdown",
						"Сколько гостей",
						"text",
						"Guest",
						masElem,
						"generalForm",
						true)
						+textField("colomn-left",
						"masked text field",
						"ДД.ММ.ГГГГ",
						"text",
						"maskedDate","generalForm")
						include ../components/dateDropdown/dateDropdown.pug
						+dateDropdown("colomn-left",
						"dateDropdown",
						"date Drop down",
						"ДД.ММ.ГГГГ",
						"text",
						"dateDrop",
						"generalForm")
						include ../components/filterDateDropdown/filterDateDropdown.pug
						+filterDateDropdown("colomn-left",
						"filterDateDropdown",
						"filter date dropdown",
						"ДД month - ДД month",
						"text",
						"filterDate",
						"generalForm")
						include ../components/subscriptionTextField/subscriptionTextField.pug
						+subscriptionTextField("colomn-left",
						"subscriptionTextField",
						"subscription text field",
						"Email",
						"text",
						"subscription",
						"generalForm")
						- masElem = [['спальни', 'кровати', 'ванные комнаты'], ['bedrooms', 'bed', 'bathrooms'] ]
						+dropDown("colomn-left",
						"dropDownRooms",
						"dropdown",
						"Сколько спален",
						"text",
						"Rooms",
						masElem,
						"generalForm")
						include ../components/expCheckboxList/expCheckboxList.pug
						- masElem = ['Завтрак', 'Письменный стол', 'Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь']
						+expCheckboxList("colomn-left",
						"expCheckboxList",
						masElem,
						'expandable checkbox list',
						'expCheckbox',
						false
						)
						include ../components/feature/feature.pug
						+feature("colomn-left",
						"feature",
						"assets/img/icon/insert_emoticon.svg",
						"Комфорт",
						"Шумопоглощающие стены"
						)
						+feature("colomn-left",
						"feature",
						"assets/img/icon/location_city.svg",
						"Удобство",
						"Окно в каждой из спален"
						)


					.colomn-center 
						- masElem = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
						+expCheckboxList("colomn-center",
						"expCheckboxList",
						masElem,
						'Checkbox Buttons',
						'checkbox',
						true
						)
						include ../components/radioButtons/radioButtons.pug
						+radioButtons("colomn-center",
						"radioButtons",
						"Radio Buttons",
						"genderSelection",
						false
						)
						
					.colomn-right
					.comment-wrap