doctype html
html(lang="ru")
	include ../components/head/head.pug
	body
		div(class="ui-wrapper")
			include ../components/logoGroup/logoGroup.pug
			+logoGroup("ui-wrapper")
			main
				section.map-elements 