doctype html
html(lang="ru")
	include ../components/head/head.pug
	body
		div(class="ui-wrapper")
			include ../components/logoGroup/logoGroup.pug
			+logoGroup("ui-wrapper")
			main
				section.map-elements 
					.colomn-left 
						include ../components/textField/textField.pug
						+textField("colomn-left",
						"text field",
						"Email",
						"email",
						"email","generalForm")
						+textField("colomn-left",
						"text field",
						"",
						"text",
						"Name","generalForm")
						include ../components/dropDown/dropDown.pug
						- let masElem = [['взрослые', 'дети', 'младенцы'], ['adults', 'children', 'babies'] ]
						+dropDown("colomn-left",
						"dropDown",
						"dropdown",
						"Сколько гостей",
						"text",
						"Guest",
						masElem,
						"generalForm",
						true)
						+textField("colomn-left",
						"masked text field",
						"ДД.ММ.ГГГГ",
						"text",
						"maskedDate","generalForm")
						include ../components/dateDropdown/dateDropdown.pug
						+dateDropdown("colomn-left",
						"dateDropdown",
						"date Drop down",
						"ДД.ММ.ГГГГ",
						"text",
						"dateDrop",
						"generalForm")
						include ../components/filterDateDropdown/filterDateDropdown.pug
						+filterDateDropdown("colomn-left",
						"filterDateDropdown",
						"filter date dropdown",
						"ДД month - ДД month",
						"text",
						"filterDate",
						"generalForm")
						include ../components/subscriptionTextField/subscriptionTextField.pug
						+subscriptionTextField("colomn-left",
						"subscriptionTextField",
						"subscription text field",
						"Email",
						"text",
						"subscription",
						"generalForm")
						- masElem = [['спальни', 'кровати', 'ванные комнаты'], ['bedrooms', 'bed', 'bathrooms'] ]
						+dropDown("colomn-left",
						"dropDownRooms",
						"dropdown",
						"Сколько спален",
						"text",
						"Rooms",
						masElem,
						"generalForm")
					.colomn-center 
					.colomn-right