doctype html
html(lang="ru")
	include ../components/head/head.pug
	body
		div(class="ui-wrapper")
			include ../components/logoGroup/logoGroup.pug
			+logoGroup("ui-wrapper")
			main
				section.map-elements 
					.colomn-left 
						include ../components/textField/textField.pug
						+textField("colomn-left",
						"text field",
						"Email",
						"email",
						"email","generalForm")
						+textField("colomn-left",
						"text field",
						"",
						"text",
						"Name","generalForm")
						include ../components/dropDownGuest/dropDownGuest.pug
						+dropDownGuest("colomn-left",
						"dropDownGuest",
						"dropdown",
						"Сколько гостей",
						"text",
						"Guest",
						"generalForm")
					.colomn-center 
					.colomn-right