html {
	height: 100%; /* растягиваем страницу на весь экран */
	width: 100%; /* растягиваем страницу на весь экран */
	font-size: #{$font-size}px;
	@include helvetica("OpenSans");
	min-width: $min-wraper;
}

::placeholder {
	color: gray;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100%; /* растягиваем тело сайта на весь экран */
	width: 100%; /* растягиваем тело сайта на весь экран */
	background: #fff;
	font-size: 14px;
	line-height: 24px;
	@include helvetica("Montserrat-Regular");
	color: $color-body;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100px;
	width: 100%;
	flex: 1 0 auto;

	&__content {
		width: 100%;
		position: relative;
		word-wrap: break-word; // параметр специально тут что бы текст или слова не выходили за пределы контейнеров
		flex: 1 0 auto;
		//background-image: url("../../img/decor/fon.jpg");
		//background-size: 100%;
		//background-repeat: no-repeat;
		//background-position: left top;
	}
}

//---------------------------------- Главные блоки контентной части

h1,
h2,
h3 {
	@include helvetica("Montserrat-Bold");
	color: $color-h;
}

h1 {
	@include font-rem(24);
	line-height: 29px;
}

h2 {
	@include font-rem(19);
	line-height: 23px;
}

h3 {
	@include font-rem(12);
	line-height: 15px;
	text-transform: uppercase;
}

main {
	width: 100%;
	max-width: $max-wraper;
	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
}

aside {
	width: 100%;
	max-width: 200px;
	background-color: #53383b;
}

img {
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}

//-----------------------------------

//------------ стиль скроулинга браузера

::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	// цвет полосы
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #a6a8b6;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(166, 168, 182, 0.26);
}

::-webkit-resizer {
	background-repeat: no-repeat;
	width: 4px;
	height: 0;
}

::-webkit-scrollbar {
	width: 8px;
}

//--------------------------------
