.dateDropdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	position: relative;

	&__datepicker {
		position: absolute;
		top: 1px;
		width: 100%;
	}

	&__label-text {
		margin-bottom: 5px;
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-label;
	}

	&__label {
		position: relative;
	}

	&__tip {
		position: absolute;
		right: 14px;
		bottom: 3px;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform 0.5s;
	}

	&__text,
	&__value {
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__value {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__input {
		width: 100%;
		max-width: 150px;
		height: 44px;
		padding-left: 15px;
		padding-right: 44px;
		outline: 0;
		cursor: pointer;

		border: 1px solid $color-border;
		border-radius: 4px;
		color: $color-input;
		font-family: "Montserrat-Regular";
		font-size: 14px;
		line-height: 24px;
		box-sizing: border-box;
	}

	input::placeholder {
		color: $style-text;
	}

	input:hover,
	input:focus {
		border: 1px solid $color-border-hover;
	}

	&__datepicker {
		display: none;
		margin-top: 5.56px;
		position: absolute;
		top: 68px;
		z-index: 1;
	}

	.datepicker {
		width: calc(100% - 2px) !important;

		&--cell,
		&--day-name {
			max-width: 39.88px !important;
			height: 40px !important;
		}

		&--cell-month,
		&--cell-year {
			max-width: none !important;
		}
	}

	.datepicker--cell-day.-range-from-::after {
		width: 39.88px;
		height: 40px;
	}

	.datepicker--cell-day.-range-to-::before {
		width: 39.88px;
		height: 40px;
	}

	.datepicker--cell-day.-in-range-:hover::before {
		width: 39.88px;
		height: 40px;
	}
}
