.header {
	width: 100%;
	background-color: #fff;

	&__wrapper {
		min-height: 70px;
		max-width: $max-wraper;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__menu-wrap {
		margin-left: auto;
	}

	&__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__items-down {
		display: none;
		flex-direction: column;
		justify-content: center;
	}
}
