$color-box-shadow: $Dark-Shade-5;
$color-user-border: $Dark-Shade-1;
$color-nickname: $Dark-Shade-50;
$color-line-backgr: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color-link: $Dark-Shade-50;
$color-line-close: $Dark-Shade-50;
$color-focus: $Dark-Shade-100;

.header {
  width: 100%;
  background-color: $color-background;
  box-shadow: 0px 10px 20px $color-box-shadow;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
  position: relative;

  &__wrapper {
    min-height: 70px;
    max-width: $max-wrapper;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down($xs) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 216px;
    }
  }

  &__toggle {
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    background: none;
    transform: rotate(0deg);
    transition: transform 0.5s;

    @include media-breakpoint-down($md) {
      position: relative;
      visibility: unset;
      width: auto;
      height: 27px;
      margin-left: 40px;
      margin-right: auto;
    }

    @include media-breakpoint-down($xs) {
      margin-left: 0;
      margin-right: 0;
    }

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
  }

  &__toggle-line {
    display: block;
    background: $color-line-backgr;
    width: 40px;
    height: 4px;
    transition: height 0.3s;

    &::after {
      position: absolute;
      content: "";
      top: 1px;
      left: 0;
      background: $color-line-backgr;
      width: 40px;
      height: 4px;
      transform: rotate(0deg);
      transition: transform 0.5s;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 1px;
      left: 0;
      background: $color-line-backgr;
      width: 40px;
      height: 4px;
      transform: rotate(0deg);
      transition: transform 0.5s;
    }

    &_visible {
      height: 0px;
      transition: height 0.5s;
      &::before {
        transform: rotate(-50deg);
        transition: transform 0.3s;
        bottom: 12px;
        background: $color-line-close;
      }
      &::after {
        transform: rotate(50deg);
        transition: transform 0.3s;
        top: 11px;
        background: $color-line-close;
      }
    }
  }

  &__link,
  &__link-down {
    display: inline-block;
    white-space: nowrap;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color-link;

    &_is-current {
      font-weight: bold;
    }

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
  }

  &__tip {
    margin-left: 6px;
    transition: transform 0.5s;
    transform: rotate(0deg);
    @include media-breakpoint-down($md) {
      transform: rotate(-90deg);
    }

    &_is-rotated {
      transform: rotate(180deg);
    }
  }

  &__item {
    margin-left: 22px;
    position: relative;

    @include media-breakpoint-down($md) {
      margin-left: 0px;
      margin-top: 20px;

      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
      width: 100%;
      padding-bottom: 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__menu-wrapper {
    margin-left: auto;
    margin-right: 26px;

    @include media-breakpoint-down($md) {
      display: none;
      z-index: 5;
      margin: 0px;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
    }

    @include media-breakpoint-down($xs) {
      top: 180px;
    }

    &_visible {
      display: block;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;

    @include media-breakpoint-down($md) {
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      background: $color-background;
      box-shadow: 0px 10px 20px $color-box-shadow;
    }
  }

  &__items-down {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    background-color: $color-background;
    padding: 20px;
    z-index: 2;
    box-shadow: 0px 10px 20px $color-box-shadow;
    display: none;
    flex-direction: column;
    justify-content: center;

    &_visible {
      display: flex;
    }
  }

  &__item-down {
    margin-top: 10px;
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    border-left: 1px solid $color-user-border;

    @include media-breakpoint-down($xs) {
      border-top: 1px solid $color-user-border;
      border-left: 0px;
    }
  }

  &__nickname {
    margin-left: 20px;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color-nickname;

    @include media-breakpoint-down($xs) {
      margin-left: 0px;
      margin-top: 20px;
    }

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 4px;
    }
  }

  &__button {
    &:last-child {
      margin-left: 20px;
      @include media-breakpoint-down($xs) {
        margin-left: 0px;
      }
    }
  }
}
