include ../../components/logo-group/logo-group.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

-
  const {
    headerOne,
    headerTwo,
  } = require('./headers-footers.json');

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title headers footers

  body.headers-footers-wrapper
    .headers-footers-wrapper__logo
      +logo-group()

    main.headers-footers-content
      section.headers-footers 
        .headers-footers__top
          .headers-footers__authorization
            +header(headerOne)

          .headers-footers__authorized
            +header(headerTwo)
            
        .headers-footers__bottom
          +footer()