include ../../components/logo-group/logo-group.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title headers footers

  body.headers-footers-wrapper
    .headers-footers-wrapper__logo
      +logo-group({})

    main.headers-footers-content
      section.headers-footers 
        .headers-footers__top
          .headers-footers__authorization
            +header({
              current:true,
            })

          .headers-footers__authorized
            +header({
              type:'authorized',
              current:true,
            })
            
        .headers-footers__bottom
          +footer()