$colored-square-text: $Dark-Shade-100;

.colored-square {
  width: 100%;
  max-width: 281.26px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__square {
    min-width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &_dark-shade-100 {
      background-color: $Dark-Shade-100;
    }

    &_dark-shade-75 {
      background-color: $Dark-Shade-75;
    }

    &_dark-shade-50 {
      background-color: $Dark-Shade-50;
    }

    &_dark-shade-25 {
      background-color: $Dark-Shade-25;
    }

    &_dark-shade-5 {
      background-color: $Dark-Shade-5;
    }

    &_purple {
      background-color: $Purple;
    }

    &_green {
      background-color: $Green;
    }
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__color {
    @include font-family("Montserrat");
    font-weight: bold;
    color: $colored-square-text;
    font-size: 19px;
    line-height: 28px;
  }

  &__hexColor {
    @include font-family("Montserrat");
    font-weight: normal;
    color: $colored-square-text;
    font-size: 19px;
    line-height: 28px;
  }
}
