$color-checkbox: $Dark-Shade-50;
$color-checkbox-border: $Dark-Shade-25;
$color-checkbox-hover: $Purple;

.expCheckboxList,
.checkboxButtons {
	&__wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-bottom: 15px;
	}

	&__header {
		font-family: "Montserrat-Bold";
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-label;
		cursor: pointer;
	}

	&_visibal {
		ul {
			height: auto;
		}
	}

	&__items {
		height: 0px;
		overflow: hidden;
		transition: height 200ms ease;
	}

	&__item {
		position: relative;
	}

	&__input + label {
		display: inline-block;
		//position: relative;
		font-family: "Montserrat-Regular";
		font-size: 14px;
		line-height: 18px;
		color: $color-checkbox;
		cursor: pointer;
		padding-left: 29px;
		margin-bottom: 10px;
	}

	&__input {
		display: none;
	}

	&__bef {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #fff;
		border: 1px solid $color-checkbox-border;
		box-sizing: border-box;
		border-radius: 4px;
		position: absolute;
		left: 0;
		top: 1px;
		cursor: pointer;
	}

	&__bef:focus {
		outline: 1;
	}

	&__input:checked + label + &__bef {
		display: block;
		background-image: url("/assets/img/inetrface/Vector.svg");
		background-size: 10px 10px;
		background-repeat: no-repeat;
		background-position: 4px 3px;
		border-color: $color-checkbox-hover;
	}

	&__tip {
		position: absolute;
		right: 14px;
		bottom: 3px;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform 0.5s;
	}
}
