$color-top-shadow: $Dark-Shade-1;
$color-bottom-shadow: $Dark-Shade-5;
$color-subscrip-text: $Dark-Shade-75;
$color-recommendation-text: $Dark-Shade-75;
$color-copyright: $Dark-Shade-75;
$color-focus: $Dark-Shade-100;
$color-subscrip-header: $Dark-Shade-100;

.footer {
  width: 100%;
  background-color: $color-background;

  &__top {
    width: 100%;
    box-shadow: 0px 1px 0px $color-top-shadow;
    min-height: 372px;
    padding-left: $size-padding;
    padding-right: $size-padding;
    box-sizing: border-box;
    @include media-breakpoint-down($sm) {
      min-height: unset;
      padding-bottom: 20px;
    }
  }

  &__recommendation-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    margin-top: 100px;
    overflow-wrap: break-word;
    @include media-breakpoint-down($sm) {
      margin-top: 70px;
      max-width: unset;
    }
  }

  &__recommendation-text {
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-recommendation-text;

    @include max-row(8);

    @include media-breakpoint-down($sm) {
      display: none;
    }

  }

  &__logo-wrapper {
    margin-bottom: 13px;

    @include media-breakpoint-down($sm) {
      text-align: center;
    }
  }

  &__navigation-wrapper {
    margin-top: 104px;
    width: 100%;
    max-width: 239px;
    padding-left: 40px;
    box-sizing: border-box;
    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__about-us-wrapper {
    margin-top: 104px;
    width: 100%;
    max-width: 201px;

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__support-wrapper {
    margin-top: 104px;
    width: 100%;
    max-width: 200px;

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__bottom {
    box-shadow: 0px 10px 20px $color-bottom-shadow;
    padding-left: $size-padding;
    padding-right: $size-padding;
    box-sizing: border-box;

    @include media-breakpoint-down($sm) {
      padding-top: 20px;
    }
  
  }

  &__top-wrapper {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down($md) {
      justify-content: space-between;
    }
  }

  &__top-wrapper,
  &__bottom-wrapper {
    margin: 0 auto;
    max-width: $max-wrapper;

    @include media-breakpoint-down($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__subscrip-wrapper {
    width: 100%;
    max-width: 260px;
    margin-top: 104px;
    overflow-wrap: break-word;
    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__subscrip-header {
    margin-bottom: 19px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-subscrip-header;
  }

  &__subscrip-text {
    margin-bottom: 22px;
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-subscrip-text;
    @include max-row(6);
  }

  &__bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__copyright {
    @include font-family("Montserrat");
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color-copyright;
    text-align: center;
  }

  &__social {
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    @include media-breakpoint-down($sm) {
      height: 75px;
      padding-top: 0px;
    }
  }

  &__social-link {
    display: inline-block;
  }

  &__social-link:focus {
    outline: 2px solid $color-focus;
    outline-offset: 4px;
  }

  &__social-item {
    margin-left: 22px;
  }

  &__social-item:first-child {
    margin-left: 0px;
  }

  &__social-item:last-child {
    margin-right: 1px;
  }

  &__top-wrapper,
  &__bottom-wrapper {
  @include media-breakpoint-down($sm) {
    flex-direction: column;
    align-items: center;
  }
}
}


