$color-bd-frame: rgba(0, 0, 0, 0.12);
$color-shadow-frame: rgba(0, 0, 0, 0.2);
$color-header: #1f2041;
$color-text: $Dark-Shade-50;
$color-lux: $Purple;

.room-card {
	background: $color-background;
	border: 1px solid $color-bd-frame;
	box-shadow: 0px 0px 25px $color-shadow-frame;
	border-radius: 4px;
	width: 100%;
	max-width: 270px;

	&__slider-wrap {
		position: relative;
		height: 152px;
	}

	&__slide {
		width: 100%;
		max-width: 270px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.5s;
		margin: 0 auto;

		&_visible {
			opacity: 1;
		}
	}

	&__dot-wrap {
		position: absolute;
		right: 20px;
		bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		max-width: 55px;
	}

	&__dot {
		display: block;
		cursor: pointer;
		width: 8px;
		height: 8px;
		border: 1px solid #fff;
		border-radius: 50%;
		box-sizing: border-box;
		filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
		z-index: 50;
	}

	&__prev-wrap,
	&__next-wrap {
		cursor: pointer;
		position: absolute;
		width: 42px;
		height: 151px;
		bottom: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__prev-wrap {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
		left: 0;
	}

	&__next-wrap {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		right: 0;
	}

	&__header-wrap,
	&__number-wrap,
	&__price-wrap {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}

	&__header-wrap {
		position: relative;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 21px;
	}

	&__header-wrap::before {
		position: absolute;
		bottom: -12px;
		content: "";
		background: rgba(31, 32, 65, 0.1);
		width: 100%;
		max-width: 230px;
		height: 1px;
	}

	&__header {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 19px;
		line-height: 23px;
		color: $color-header;
	}

	&__price,
	&__price-text {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $color-text;
	}

	&__price-text {
		font-weight: normal;
		font-size: 12px;
		margin-left: 4px;
	}

	&__header-num {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-right: 3px;

		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: $color-header;
	}

	&__lux {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		color: $color-lux;
		margin-left: 2px;
	}

	&__header-wrap {
		padding-left: 21px;
		padding-right: 17px;
	}
	&__rate-wrap {
		padding-left: 22px;
		padding-right: 17px;
	}

	&__rate-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 17px;
	}

	&__reviews-wrap {
		display: flex;
		flex-direction: row;
	}

	&__reviews,
	&__reviews-text {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 14px;
		line-height: 25px;
		color: $color-text;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__reviews-text {
		font-weight: normal;
		font-size: 14px;
		margin-left: 4px;
		margin-right: 2px;
	}
}
