include ../../components/logo-group/logo-group.pug
include ../../components/search-room/search-room.pug
include ../../components/registration/registration.pug
include ../../components/booking/booking.pug
include ../../components/sign-in/sign-in.pug
include ../../components/room-card/room-card.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title cards
  body.cards-wrapper
    .cards-wrapper__logo
      +logo-group({})
    main.cards-content
      section.cards 
        .cards__left
          .cards__search-room
            +search-room({
              header:'Найдём номера под ваши пожелания'
            })
          .cards__registration
            +registration({
              header:'Регистрация аккаунта'
            })

        .cards__center
          .cards__center__booking
            +booking({
              number:'888',
              lux:true,
              price: '9 990'
            })
          .cards__center__sign-in
            +sign-in({
              header:'Войти',
            })

        .cards__right
          .cards__right__room-card
            +room-card({
              number:'888',
              lux:true,
              price:'9 990',
              reviews:'145'
            })