.cards-wrapper {
	background: #f4f4f6;
	padding-bottom: 100px;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 72px;
	padding-left: 141px;
	box-sizing: border-box;

	&__search-room {
		width: 100%;
		max-width: 380px;
	}

	&__registration {
		margin-top: 40px;
		width: 100%;
		max-width: 380px;
	}
}

.cards__center {
	margin-left: 40px;
	width: 100%;
	max-width: 390px;

	&__booking {
		margin-bottom: 40px;
		width: 100%;
		max-width: 380px;
	}

	&__sign-in {
		margin-bottom: 40px;
		width: 100%;
		max-width: 380px;
	}
}
