$font-adres: "../fonts/";

$font-name: ("Montserrat-Regular", "Montserrat-Bold");

@each $current-font in $font-name {
	@font-face {
		font-family: $current-font; /* Имя шрифта */
		src: url("#{$font-adres}#{$current-font}.woff2") format("woff2"),
			url("#{$font-adres}#{$current-font}.woff") format("woff"),
			url("#{$font-adres}#{$current-font}.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}
